@{
    ViewBag.Title = "About the developer";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>CourtBase is a court management system developed by Usman Hamid</p>
<p>This application's sole purpose is to solve the problem of conventionla methods of storing data away in court room settings</p>
