@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Bahria Univerity<br />
    Johar Town<br />
    <abbr title="Phone">P:</abbr>
    0306-9543595
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:usmanhamid4adt@gmail.com">usmanhamid4ad@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:usmanhamid4ad@gmail.com">usmanhamid4ad@gmail.com</a>
</address>